spring:
  datasource:
    driver-class-name: org.h2.Driver
    username: sa
    password: pass
    url: jdbc:h2:file:~/.h2/innerdb
  jpa:
    hibernate:
      ddl-auto: update
    database: h2
  profiles:
    active: dev
swagger2:
  enable: true
---

spring:
  profiles: dev
  jpa:
    show-sql: true
  h2:
    console:
      path: /h2
      enabled: true
      settings:
        web-allow-others: true

---

spring:
  profiles: prod
